.wrapper {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(
    to left,
    var(--color-primary-900) 0%,
    var(--color-primary-700) 8%,
    var(--color-primary-700) 92%,
    var(--color-primary-900) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--color-primary-contrast);
  background: var(--color-primary);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.wrapper:not(.pseudoDisabled):hover {
  filter: brightness(110%);
}
.wrapper:not(.pseudoDisabled):hover .front {
  transform: translateY(-6px);
  transition: transform 250ms
    cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.wrapper:not(.pseudoDisabled):active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.wrapper:not(.pseudoDisabled):hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms
    cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.wrapper:not(.pseudoDisabled):active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.wrapper:focus:not(:focus-visible) {
  outline: none;
}

/*
  This button should never be explicitly disabled. Instead,
  we apply styles to make clear that the button is lightly
  discouraged, but can still be clicked.

  More info:
  https://adamsilver.io/blog/the-problem-with-disabled-buttons-and-what-to-do-instead/
*/
.pseudoDisabled {
  filter: saturate(0.1) contrast(0.55) brightness(150%);
}
html[data-color-mode='dark'] .pseudoDisabled {
  filter: saturate(0.25) brightness(80%);
}
