.mainHeader {
  position: relative;
  z-index: 2;
  max-width: var(--content-width);
  padding-left: var(--viewport-padding);
  padding-right: var(--viewport-padding);
}

.wrapper {
  padding-bottom: 64px;
  position: relative;
  z-index: 2;
}

.pageWrapper {
  position: relative;
  display: grid;
  grid-template-columns:
    1fr min(var(--trimmed-content-width), 100%)
    1fr;
  max-width: var(--outer-content-width);
  margin: 0 auto;
  padding: 64px var(--viewport-padding) 32px;
  background: var(--color-page-background);
  box-shadow: var(--page-shadow-large);
  overflow: clip;
}

.pageWrapper > * {
  grid-column: 2;
}

@media (min-width: 80rem) {
  .pageWrapper {
    border-radius: 8px;
  }
}
