.mainHeader {
  position: relative;
  z-index: 2;
  max-width: calc(var(--content-width) + var(--viewport-padding) * 2);
  padding-left: var(--viewport-padding);
  padding-right: var(--viewport-padding);
}

.wrapper {
  background: var(--color-backdrop);
  isolation: isolate;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background: linear-gradient(
    to top,
    var(--color-backdrop),
    var(--color-backdrop-highlight)
  );
}

.pageWrapper {
  position: relative;
  display: grid;
  grid-template-columns:
    1fr min(var(--content-width), 100%)
    1fr;
  max-width: var(--outer-content-width);
  margin: 0 auto;
  padding: 0 var(--viewport-padding) 32px;
  background: var(--color-page-background);
  box-shadow: var(--page-shadow-large);
  border-radius: 8px;
  overflow: clip;
}

.pageWrapper > * {
  grid-column: 2;
}

.pageHeaderWrapper {
  --shadow-color: hsl(50deg 30% 40% / 0.05);
  --inset-by: 0px;
  grid-column: 1 / -1;
  position: sticky;
  top: var(--inset-by);
  margin-left: calc(var(--viewport-padding) * -1 + var(--inset-by));
  margin-right: calc(var(--viewport-padding) * -1 + var(--inset-by));
  display: flex;
  justify-content: center;
  width: calc(100% + var(--viewport-padding) * 2 - var(--inset-by) * 2);
  height: var(--header-height);
  margin-top: calc(var(--header-height) * -1);
  margin-bottom: 64px;
  background: var(--color-sticky-header);
}

.pageHeader {
  max-width: calc(var(--content-width) + var(--viewport-padding) * 2);
  padding-left: var(--viewport-padding);
  padding-right: var(--viewport-padding);
}
