.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: var(--outer-content-width);
  margin: 0 auto;
}

.content {
  position: relative;
  width: 100%;
  max-width: calc(
    var(--content-width) + var(--viewport-padding) *
      2
  );
  padding: var(--viewport-padding);
  padding-top: calc(48px + 8vw);
  padding-bottom: 64px;
}

.content h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.25rem;
  opacity: 0.8;
  margin-bottom: 0px;
}
