@keyframes spin {
  from {
    transform: rotate(-360deg);
  }
}

.wrapper {
  display: block;
  width: min-content;
  height: min-content;
  /* @ts-ignore */
  animation: spin 1000ms linear infinite;
  color: inherit;
  opacity: 0.6;
}

.wrapper svg {
  display: block;
  max-width: revert;
}
