.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: calc(200px + 20vw);
  /* Trim corners */
  overflow: hidden;
  background: var(--color-accent);
}
.content {
  position: relative;
  width: 100%;
  max-width: calc(
    var(--content-width) + 16px * 2
  );
  padding: 16px;
  padding-bottom: 48px;
}

.content h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.25rem;
  opacity: 0.8;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    hsl(256deg 100% 50% / 1) 0px 2px,
    hsl(256deg 100% 50% / 0) 2px 4px
  );
  opacity: 0.05;
}
.blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  transform: translateY(-2px);
}
