.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  aspect-ratio: 20 / 8;
  /* Trim corners */
  overflow: hidden;
  background: hsl(260deg 100% 92%);
}
.content {
  position: relative;
  width: 100%;
  max-width: calc(
    var(--content-width) + 16px * 2
  );
  padding: 16px;
  padding-bottom: 48px;
}

.content h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.25rem;
  opacity: 0.8;
}

.divider {
  display: block;
  opacity: 0.5;
  transform: translateY(1px);
}
