.wrapper {
  padding: var(--viewport-padding);
  margin-left: calc(var(--viewport-padding) * -1);
  margin-right: calc(var(--viewport-padding) * -1);
  margin-bottom: 64px;
  background: var(--color-card-background);
  border: 1px solid var(--color-card-border);
  box-shadow: var(--shadow-card);
}

@media (min-width: 56rem) {
  .wrapper {
    border-radius: 8px !important;
  }
}
