.wrapper {
  padding: var(--viewport-padding);
  margin-left: calc(var(--viewport-padding) * -1);
  margin-right: calc(var(--viewport-padding) * -1);
  margin-bottom: 64px;
  background: var(--embedded-bg);
  border: 1px solid var(--embedded-border-color);
  color: var(--embedded-color);
}

@media (min-width: 35rem) {
  .wrapper {
    border-radius: 8px !important;
  }
}

@media (min-width: 56rem) {
  .wrapper {
    border-radius: 8px !important;
  }
}
