/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* THEME VARIABLES */
html {
  --content-width: 55rem;
  --outer-content-width: 80rem;
  --color-text: hsl(0deg 0% 5%);
  --color-primary: hsl(256deg 100% 50%);

  --color-decorative-100: hsl(50deg 100% 94%);
  --color-decorative-300: hsl(50deg 100% 85%);
  --color-decorative-500: hsl(50deg 100% 70%);
  --color-decorative: var(--color-decorative-500);

  --selection-text-color: black;
  --selection-background-color: hsl(50deg 100% 50%);

  --viewport-padding: 16px;
  --header-height: 5rem;

  /* Semantic colors */
  --color-backdrop: var(--color-decorative);
  --color-backdrop-highlight: var(--color-decorative-300);
  --color-page-background: var(--color-decorative-100);
  --color-sticky-header: var(--color-page-background);

  /* prettier-ignore */
  --page-shadow-large:
    0px 1px 2px hsl(50deg 60% 50% / 0.25),
    0px 3px 6px hsl(50deg 60% 50% / 0.25),
    0px 9px 18px hsl(50deg 60% 50% / 0.25),
    0px 18px 36px hsl(50deg 60% 50% / 0.25),
    0px 54px 108px hsl(50deg 60% 50% / 0.25);
}

@media (prefers-color-scheme: dark) {
  html {
    --color-text: hsl(0deg 0% 100%);
    --color-text-highlight: hsl(260deg 100% 80%);
    --color-primary: hsl(256deg 20% 10%);
    --color-decorative-100: hsl(256deg 20% 4%);
    --color-decorative-300: hsl(256deg 30% 15%);
    --color-decorative-500: hsl(256deg 40% 30%);
    --color-decorative: var(--color-decorative-500);
    --selection-text-color: white;
    --selection-background-color: hsl(256deg 100% 30%);

    --color-backdrop: var(--color-decorative-100);
    --color-backdrop-highlight: var(--color-decorative-500);
    --color-page-background: transparent;
    --page-shadow-large: none;
    --color-sticky-header: var(--color-backdrop);
  }
}

@media (min-width: 35rem) {
  html {
    --viewport-padding: 24px;
  }
}

/* GLOBAL STYLES */
::selection {
  background-color: var(--selection-background-color) !important;
  color: var(--selection-text-color) !important;
  background-image: none !important;
  -webkit-text-fill-color: var(--selection-text-color) !important;
  -moz-text-fill-color: var(--selection-text-color) !important;
  background-image: none !important;
  background-clip: revert !important;
  -webkit-background-clip: revert !important;
  text-shadow: none !important;
}

html {
  color: var(--color-text);
  font-family: var(--font-family), sans-serif;
}

em {
  font-style: italic;
}
code {
  font-family: var(--font-family-mono);
}
p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
}
