/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* THEME VARIABLES */
html {
  --content-width: 55rem;
  --outer-content-width: 80rem;
}

/* GLOBAL STYLES */
html {
  font-family: var(--font-family), sans-serif;
}
em {
  font-style: unset;
  font-variation-settings: 'slnt' -15, 'CRSV' 1;
  letter-spacing: -1px;
}
p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
