.wrapper {
  display: flex;
  justify-content: center;
  background: var(--color-background-deeper);
}

.outerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--outer-content-width);
  background: var(--color-background);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  max-width: calc(
    var(--content-width) + 16px * 2
  );
  padding: 16px;
}

.logo {
  display: block;
  text-decoration: none;
  font-size: 1.325rem;
  font-weight: 700;
}

.content ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
