.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: block;
  text-decoration: none;
  font-size: 1.325rem;
  font-weight: 700;
  transition: font-weight 400ms;
}
.logo:hover {
  font-weight: 900;
  transition: font-weight 0ms;
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;
}
