.wrapper {
  border-radius: 0px !important;
  margin: 0px calc(var(--viewport-padding) * -1) 64px !important;
  border: 1px solid var(--color-card-border);
}
.wrapper pre {
  padding: var(--viewport-padding) !important;
}
.wrapper code {
  font-family: var(--font-family-mono);
}
.wrapper code > div {
  font-size: 1.125rem;
  padding: 0px !important;
}

@media (min-width: 56rem) {
  .wrapper {
    border-radius: 8px !important;
  }
}
