.wrapper {
}

.operation {
  font-size: 3rem;
  font-family: var(--font-family-mono);
  margin-bottom: 8px;
  text-align: center;
}

.barWrapper {
  position: relative;
  display: flex;
  max-width: 700px;
  height: 50px;
  margin: 0 auto;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-radius: 0 0 0 4px;
}

.col {
  position: relative;
  flex: 1;
}

.col::before {
  content: '';
  position: absolute;
  bottom: -8px;
  right: -2.5px;
  width: 3px;
  height: 8px;
  border-radius: 0 0 100px 100px;
  background: white;
}

.colLabel {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 150%);
}
.colLimit {
  border-right: 1px dashed;
}

.blocksWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
}
.block {
  border: 2px solid white;
  width: var(--block-width);
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  border-radius: 4px;
  transform: translateX(1px);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 64px;
}
