.wrapper {
}

.operation {
  font-size: 3rem;
  font-family: var(--font-family-mono);
  margin-bottom: 8px;
  text-align: center;
}

.demoArea {
  position: relative;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.col {
  flex: 1;
  border-right: 1px dashed;
  transform: translateX(0.5px);
  opacity: 0.25;
}

.blockHolder {
  position: relative;
  display: flex;
  outline: 2px solid;
  outline-offset: 2px;
  border-radius: 4px;
}
.spillover {
  display: flex;
}

.blockWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--block-width);
  height: 100%;
  padding: 4px;
}

.block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid pink;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 64px;
}
